*.py[cod]

venv*/
pyvenv*/

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov
.pytest_cache

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
*.iml
*.komodoproject
.mypy_cache

# Complexity
output/*.html
output/*/index.html


.DS_Store
*~
.*.sw[po]
.build
.ve
.env
.cache
.pytest
.bootstrap
.appveyor.token
*.bak
